<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Log in</a></li>
        <li class="tab col s6"><a href="#signup">Sign up</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">

      {{#if loginError}}
        <p class="alert">{{loginError}}</p>
      {{/if}}

      <h1>Log in</h1>
      <form action="/auth/login" method="post">
        <div class="input-field">
          <input id="email" name="email" type="email" class="validate" required />
          <label for="email">Email</label>
          <span class="helper-text" data-error="Enter email" data-success="ok"></span>
        </div>

        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required />
          <label for="password">Password</label>
          <span class="helper-text" data-error="Enter password" data-success="ok"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="login-actions">
          <button class="btn btn-primary" type="submit">Log in</button>
          <p><a href="/auth/reset">Forgot your password?</a></p>
        </div>

      </form>

    </div>
    <div id="signup" class="col s6 offset-s3">

      {{#if signupError}}
        <p class="alert">{{signupError}}</p>
      {{/if}}

      <h1>Sign up</h1>
      <form action="/auth/signup" method="post">
        <div class="input-field">
          <input id="signup-name" name="name" type="text" class="validate" required/>
          <label for="signup-name">Nickname</label>
          <span class="helper-text" data-error="Enter name" data-success="ok"></span>
        </div>

        <div class="input-field">
          <input id="signup-email" name="email" type="email" class="validate" required/>
          <label for="signup-email">Email</label>
          <span class="helper-text" data-error="Enter email" data-success="ok"></span>
        </div>

        <div class="input-field">
          <input id="signup-password" name="password" type="password" class="validate" required />
          <label for="signup-password">Password</label>
          <span class="helper-text" data-error="Enter password" data-success="ok"></span>
        </div>

        <div class="input-field">
          <input id="signup-password-confirm" name="confirm" type="password" class="validate" required />
          <label for="signup-password-confirm">Repeat password</label>
          <span class="helper-text" data-error="Enter password" data-success="ok"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Sign up</button>
      </form>

    </div>
  </div>
</div>